fastapi==0.110.0
uvicorn==0.27.1

sqlalchemy==2.0.25
psycopg2-binary==2.9.9

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9

cloudinary==1.39.0
pypdf==4.0.1

langchain==0.1.20
langchain-community==0.0.38
langchain-huggingface==0.0.1
langchain-text-splitters==0.0.2
pgvector==0.2.4

sentence-transformers==2.2.2
huggingface-hub>=0.23.0

pydantic==2.6.1
pydantic-settings==2.1.0

python-dotenv==1.0.1
email-validator==2.1.0.post1
requests==2.31.0